/* How can we change the colour of the paragraph without targeting the p element */
p {
    color:orange; /* the link in our paragraph already has a colour set so it is overwritten as does not change to orange */

}

a{
    color: inherit; /* This forces the link to inherit the colour of its parent*/
                    /* If we have different links in different coloured paragraphs we do not need to change the colour for all */ 
                    /* it will just inherit the colour of its direct parent */
}

.inner{
    width: 100px;
    height:50px;
    border: inherit;
    background: inherit;
}

.outer{
    /* this outer div will tkae up the entire width of the page if not specified */
    background: url("coding.jpg");
    background-size: cover;
    padding: 10px;
    border: 2px solid black;
}

/* Some properties are not inherited by default */
/* Layout Properties 
    margins paddings width height etc...*/